<%# TODO: Way of putting this into home and show and not use conditional.
That way, showcase_text can be a page part. %>

<% if home_page? %>

  <div id="showcase">
    <div id="showcase_image">
      <img src="images/assets/slide1_church.jpg" width="564" height="226" border="0" alt="Slideshow image" />
    </div>

    <div id="showcase_text">
      <h2><%= copywriting('Title', { :scope => 'Home Page Feature', :default => 'Welcome to our church' }) %></h2>

      <p><%= copywriting('Description', { :scope => 'Home Page Feature', :default => 'Calvary United Church is a United Church located in Prince Albert, Saskatchewan. We offer a welcoming and friendly environment and do much service in the community.' }) %></p>

      <div class="topbutton">
        <a href="/about"><%= copywriting('Link to About Page', { :scope => 'Home Page Feature', :default => 'Learn More' }) %></a>
      </div>

      <div class="topbutton">
        <a href="/map"><%= copywriting('Link to Map Page', { :scope => 'Home Page Feature', :default => 'How to Get Here' }) %></a>
      </div>
    </div>
  </div><!-- /showcase --><% else %>

  <div id="subname">
    <h3><%= page_title %></h3>
    <div id="breadcrumb"><a href="#">home</a>/<a href="#"><%= page_title.downcase %></a></div>
  </div>
  
<% end %>