<div id="secondary" class="grid_4">
<!--
  <div class="lightbox_top"></div>

  <div class="lightbox">
    <h3>LATEST SERMON:</h3>

    <p class="greencolor">Answering the Call <em>9-18-09</em></p>

    <p><a href="#" class="button">Listen</a> <a href="#" class="button">Download</a></p>

    <div class="group"></div>
  </div>  

  <div class="lightbox_bottom"></div>

  <div class="spacer"></div>
-->
  <div class="darkgreen">
    <h3><a href="/about"><%= copywriting('New Members Link', { :scope => 'Sidebar', :default => 'New to our church? No problem!' }) %></a></h3>
  </div>

  <div class="spacer"></div>

  <div class="darkbox_top"></div>

  <div class="darkbox">
    <h3>Worship Time</h3>

    <p class="greencolor"><%= copywriting('Worship Time', { :scope => 'Sidebar', :default => 'Sunday 10:30am' }) %></p>

    <div class="group"></div>
  </div>

  <div class="darkbox_bottom"></div>

  <div class="spacer"></div>

  <div class="lightbox_top"></div>

  <div class="lightbox">
    <h3>Latest Events</h3>

    <p class="greencolor"><%= copywriting('Event 1 Title', { :scope => 'Sidebar', :default => 'Event 1 Title' }) %><br />
      <em><%= copywriting('Event 1 Date', { :scope => 'Sidebar', :default => 'Event 1 Date' }) %></em></p>

    <p></p>
    
    <hr />

    <p class="greencolor"><%= copywriting('Event 2 Title', { :scope => 'Sidebar', :default => 'Event 2 Title' }) %><br />
      <em><%= copywriting('Event 2 Date', { :scope => 'Sidebar', :default => 'Event 2 Date' }) %></em></p>

    <p></p>
    
    <hr />
    
    <p class="greencolor"><%= copywriting('Event 3 Title', { :scope => 'Sidebar', :default => 'Event 3 Title' }) %><br />
      <em><%= copywriting('Event 3 Date', { :scope => 'Sidebar', :default => 'Event 3 Date' }) %></em></p>

    <p></p>
    
    <p><a href="/events">See more events...</a></p>

    <div class="group"></div>
  </div>

  <div class="lightbox_bottom"></div>
</div><!-- /secondary -->